
<div id="category_show">

  	<h2 id="category_name"><%=@category.name%></h2>
  	<a href="#viewport">viewport</a>

  	<div id="summary">
  		<%= @summary %>...<br><br>

			<h1 id="wikipedia_attribution"><%= link_to '(Wikipedia)', "#{lookup_wikipedia(@category)}" %>
		</h1><br></div>


	<div class="content_list">
		<% @category.contents.each do |content| %>
			<% unless content.url == nil || content.source == "wikipedia" %>
				<div class="container normal"><%= link_to content.name, content.url %> (<%= content.source %>)<div><%= content.description %></div></div>

			<% end %>
		<% end %>
	</div>

	 <div>
	 	<canvas  id="viewport" width="1500" height="600">
	 	</canvas>
	</div>

</div>
</div>
